In [1]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/CidadesPorProduto.csv", sep = ";")
dataset.head()

,Produtos[Produto/Serviço],Cidade[Cidade],[MinEstado],[MinMarca]
0,NaN,Erechim,Rio Grande do Sul,NaN
1,NaN,Farroupilha,Rio Grande do Sul,NaN
2,NaN,Porto Alegre,Rio Grande do Sul,NaN
3,1 - COXINHA DE FRANGO 22G - CX 6 KG,Águas de Chapecó,Santa Catarina,ZIN PÃO
4,1 - COXINHA DE FRANGO 22G - CX 6 KG,Alvorada,Rio Grande do Sul,ZIN PÃO

In [2]:
dataset.shape

(8533, 4)

In [4]:
dataset.columns = ["Nome dos produtos","Cidades","Estados","Marca"]
dataset.head()

,Nome dos produtos,Cidades,Estados,Marca
0,NaN,Erechim,Rio Grande do Sul,NaN
1,NaN,Farroupilha,Rio Grande do Sul,NaN
2,NaN,Porto Alegre,Rio Grande do Sul,NaN
3,1 - COXINHA DE FRANGO 22G - CX 6 KG,Águas de Chapecó,Santa Catarina,ZIN PÃO
4,1 - COXINHA DE FRANGO 22G - CX 6 KG,Alvorada,Rio Grande do Sul,ZIN PÃO

In [5]:
dataset.describe()

,Nome dos produtos,Cidades,Estados,Marca
count,8530,8533,8533,6034
unique,669,214,13,14
top,910 - PÃO DE QUEIJO TRAD. FAZ MINAS 400G VAREJ...,Erechim,Rio Grande do Sul,ZIN PÃO
freq,100,354,4274,3873

In [6]:
zinfoods = dataset.groupby(['Marca']).size()
zinfoods

Marca
10DMINAS              13
BUONGUSTO             38
BURG                   2
DEL FUEGO              1
DITA MARMITA         102
EXCELSIOR              3
FAZENDA MINAS        928
GASPER ALIMENTOS       4
INVITA               807
INVITA NATURALY      254
SEVERO                 5
TIN                    2
UNIDASUL               2
ZIN PÃO             3873
dtype: int64

In [10]:
dataset['Marca'].isnull().sum()

2499

KeyError: 'ZIN PÃO'