In [4]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/Pedidos.csv", sep = ";")
dataset.head()

                           Produtos[Produto/Serviço] [SumValor_Total]
0   56 - BISCOITO TRÊS QUEIJOS 25G ZIN PAO - CX 6 KG      25830817,73
1  45 - PÃO DE QUEIJO TRADICIONAL 25G FAZENDA MIN...      23419046,02
2                1 - COXINHA DE FRANGO 22G - CX 6 KG      15416183,59
3  22 - COXINHA DE FRANGO COM REQUEIJÃO 120G - CX...       14534701,1
4  1070 - PÃO DE ALHO TRADICIONAL RESFRIADO 400G ...      14223211,57

In [5]:
dataset.shape

(670, 2)

In [13]:
dataset.columns = ["Produtos","Valor Total"]
dataset.head()

                                            Produtos  Valor Total
0   56 - BISCOITO TRÊS QUEIJOS 25G ZIN PAO - CX 6 KG  25830817,73
1  45 - PÃO DE QUEIJO TRADICIONAL 25G FAZENDA MIN...  23419046,02
2                1 - COXINHA DE FRANGO 22G - CX 6 KG  15416183,59
3  22 - COXINHA DE FRANGO COM REQUEIJÃO 120G - CX...   14534701,1
4  1070 - PÃO DE ALHO TRADICIONAL RESFRIADO 400G ...  14223211,57

In [14]:
dataset.describe()

                                                Produtos Valor Total
count                                                669         670
unique                                               669         649
top     56 - BISCOITO TRÊS QUEIJOS 25G ZIN PAO - CX 6 KG        2,22
freq                                                   1           5

In [19]:
zinfoods = dataset.groupby(['Produtos']).size()
zinfoods

Produtos
0                                             1
1 - COXINHA DE FRANGO 22G - CX 6 KG           1
1 - COXINHA DE FRANGO 22G - INATIVO           1
1 - COXINHA DE FRANGO 22G - KG                1
1 - COXINHA DE FRANGO 22G - PCT 2 KG          1
                                             ..
949 - GROSTOLI (CUECA VIRADA) - INATIVO       1
949 - GROSTOLI (CUECA VIRADA) - KG            1
961 - GROSTOLI SEQUILHO ESPECIAL - CX 6 KG    1
961 - GROSTOLI SEQUILHO ESPECIAL - INATIVO    1
961 - GROSTOLI SEQUILHO ESPECIAL - KG         1
Length: 670, dtype: int64

In [18]:
dataset['Produtos'].isnull().sum()

0

In [17]:
dataset['Produtos'].fillna(0, inplace=True)

In [20]:
zinfoods = dataset.groupby(['Produtos']).size()
zinfoods

Produtos
0                                             1
1 - COXINHA DE FRANGO 22G - CX 6 KG           1
1 - COXINHA DE FRANGO 22G - INATIVO           1
1 - COXINHA DE FRANGO 22G - KG                1
1 - COXINHA DE FRANGO 22G - PCT 2 KG          1
                                             ..
949 - GROSTOLI (CUECA VIRADA) - INATIVO       1
949 - GROSTOLI (CUECA VIRADA) - KG            1
961 - GROSTOLI SEQUILHO ESPECIAL - CX 6 KG    1
961 - GROSTOLI SEQUILHO ESPECIAL - INATIVO    1
961 - GROSTOLI SEQUILHO ESPECIAL - KG         1
Length: 670, dtype: int64

TypeError: bad operand type for unary ~: 'float'