In [43]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/PedidosDia.csv", sep = ";")
dataset.head()

,LocalDateTable_96d7b74f-5a88-4a4e-9223-da2f34fda5d5[Ano],LocalDateTable_96d7b74f-5a88-4a4e-9223-da2f34fda5d5[Mês],LocalDateTable_96d7b74f-5a88-4a4e-9223-da2f34fda5d5[MonthNo],LocalDateTable_96d7b74f-5a88-4a4e-9223-da2f34fda5d5[Dia],[Quantidade_Distinta_de_Pedidos]
0,2018,janeiro,1,2,164
1,2018,janeiro,1,3,115
2,2018,janeiro,1,4,126
3,2018,janeiro,1,5,97
4,2018,janeiro,1,7,1

In [44]:
dataset.shape

(1627, 5)

In [45]:
dataset.columns = ["Ano","Mes","Mesn","Dia","Pedidos"]
dataset.head()

    Ano      Mes  Mesn  Dia  Pedidos
0  2018  janeiro     1    2      164
1  2018  janeiro     1    3      115
2  2018  janeiro     1    4      126
3  2018  janeiro     1    5       97
4  2018  janeiro     1    7        1

In [64]:
#fILTRO a partir de nome
mes = ['agosto']
linhas_selecionadas = dataset.loc[dataset['Mes'].isin(mes)]
print(linhas_selecionadas)

       Ano     Mes  Mesn  Dia  Pedidos
176   2018  agosto     8    1       17
177   2018  agosto     8    2       67
178   2018  agosto     8    3       77
179   2018  agosto     8    6       81
180   2018  agosto     8    7      191
...    ...     ...   ...  ...      ...
1576  2023  agosto     8   25       98
1577  2023  agosto     8   28       73
1578  2023  agosto     8   29      114
1579  2023  agosto     8   30      115
1580  2023  agosto     8   31       20

[147 rows x 5 columns]

In [67]:
linhas_selecionadas = dataset.loc[(dataset['Mes'] == 'agosto') & (dataset['Ano'] == 2023)]
print(linhas_selecionadas)

       Ano     Mes  Mesn  Dia  Pedidos
1558  2023  agosto     8    1      123
1559  2023  agosto     8    2      101
1560  2023  agosto     8    3        8
1561  2023  agosto     8    4      109
1562  2023  agosto     8    7       64
1563  2023  agosto     8    8      156
1564  2023  agosto     8    9      105
1565  2023  agosto     8   10       11
1566  2023  agosto     8   11      110
1567  2023  agosto     8   14       94
1568  2023  agosto     8   15       75
1569  2023  agosto     8   16      104
1570  2023  agosto     8   17       10
1571  2023  agosto     8   18      105
1572  2023  agosto     8   21      123
1573  2023  agosto     8   22      185
1574  2023  agosto     8   23       16
1575  2023  agosto     8   24       23
1576  2023  agosto     8   25       98
1577  2023  agosto     8   28       73
1578  2023  agosto     8   29      114
1579  2023  agosto     8   30      115
1580  2023  agosto     8   31       20

In [68]:
#Calculo de mediana
mediana_pedidos = linhas_selecionadas['Pedidos'].median()
print("Mediana de Pedidos para", linhas_selecionadas, ":", mediana_pedidos)

Mediana de Pedidos para        Ano     Mes  Mesn  Dia  Pedidos
1558  2023  agosto     8    1      123
1559  2023  agosto     8    2      101
1560  2023  agosto     8    3        8
1561  2023  agosto     8    4      109
1562  2023  agosto     8    7       64
1563  2023  agosto     8    8      156
1564  2023  agosto     8    9      105
1565  2023  agosto     8   10       11
1566  2023  agosto     8   11      110
1567  2023  agosto     8   14       94
1568  2023  agosto     8   15       75
1569  2023  agosto     8   16      104
1570  2023  agosto     8   17       10
1571  2023  agosto     8   18      105
1572  2023  agosto     8   21      123
1573  2023  agosto     8   22      185
1574  2023  agosto     8   23       16
1575  2023  agosto     8   24       23
1576  2023  agosto     8   25       98
1577  2023  agosto     8   28       73
1578  2023  agosto     8   29      114
1579  2023  agosto     8   30      115
1580  2023  agosto     8   31       20 : 101.0