In [32]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 
import matplotlib.pyplot as plt

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/PedidosDia.csv", sep = ";")
dataset.head()

,LocalDateTable_3c4c1d27-aba3-4e2e-8b52-c6ebec4f2aa5[Ano],LocalDateTable_3c4c1d27-aba3-4e2e-8b52-c6ebec4f2aa5[Mês],LocalDateTable_3c4c1d27-aba3-4e2e-8b52-c6ebec4f2aa5[MonthNo],LocalDateTable_3c4c1d27-aba3-4e2e-8b52-c6ebec4f2aa5[Dia],[Quantidade_Distinta_de_Pedidos]
0,2018,janeiro,1,2,148
1,2018,janeiro,1,3,128
2,2018,janeiro,1,4,99
3,2018,janeiro,1,5,115
4,2018,janeiro,1,8,44

In [33]:
dataset.shape

(1470, 5)

In [34]:
dataset.columns = ["Ano","Mes","Mesn","Dia","Pedidos"]
dataset.head()

    Ano      Mes  Mesn  Dia  Pedidos
0  2018  janeiro     1    2      148
1  2018  janeiro     1    3      128
2  2018  janeiro     1    4       99
3  2018  janeiro     1    5      115
4  2018  janeiro     1    8       44

In [35]:
#fILTRO a partir de nome
mes = ['agosto']
linhas_selecionadas = dataset.loc[dataset['Mes'].isin(mes)]
print(linhas_selecionadas)

       Ano     Mes  Mesn  Dia  Pedidos
147   2018  agosto     8    1       21
148   2018  agosto     8    2       83
149   2018  agosto     8    3       78
150   2018  agosto     8    6       83
151   2018  agosto     8    7      128
...    ...     ...   ...  ...      ...
1420  2023  agosto     8   25      100
1421  2023  agosto     8   28       66
1422  2023  agosto     8   29       99
1423  2023  agosto     8   30      137
1424  2023  agosto     8   31       19

[134 rows x 5 columns]

In [36]:
linhas_selecionadas = dataset.loc[(dataset['Mes'] == 'agosto') & (dataset['Ano'] == 2023)]
print(linhas_selecionadas)

       Ano     Mes  Mesn  Dia  Pedidos
1402  2023  agosto     8    1      102
1403  2023  agosto     8    2      124
1404  2023  agosto     8    3        9
1405  2023  agosto     8    4      110
1406  2023  agosto     8    7       62
1407  2023  agosto     8    8      136
1408  2023  agosto     8    9      127
1409  2023  agosto     8   10       11
1410  2023  agosto     8   11      110
1411  2023  agosto     8   14       88
1412  2023  agosto     8   15       80
1413  2023  agosto     8   16      105
1414  2023  agosto     8   17        7
1415  2023  agosto     8   18      108
1416  2023  agosto     8   21      120
1417  2023  agosto     8   22      169
1418  2023  agosto     8   23       35
1419  2023  agosto     8   24       21
1420  2023  agosto     8   25      100
1421  2023  agosto     8   28       66
1422  2023  agosto     8   29       99
1423  2023  agosto     8   30      137
1424  2023  agosto     8   31       19

In [37]:
#Calculo de mediana
mediana_pedidos = linhas_selecionadas['Pedidos'].mean()
print("Mediana de Pedidos em agosto", linhas_selecionadas, ":", mediana_pedidos)

Mediana de Pedidos em agosto        Ano     Mes  Mesn  Dia  Pedidos
1402  2023  agosto     8    1      102
1403  2023  agosto     8    2      124
1404  2023  agosto     8    3        9
1405  2023  agosto     8    4      110
1406  2023  agosto     8    7       62
1407  2023  agosto     8    8      136
1408  2023  agosto     8    9      127
1409  2023  agosto     8   10       11
1410  2023  agosto     8   11      110
1411  2023  agosto     8   14       88
1412  2023  agosto     8   15       80
1413  2023  agosto     8   16      105
1414  2023  agosto     8   17        7
1415  2023  agosto     8   18      108
1416  2023  agosto     8   21      120
1417  2023  agosto     8   22      169
1418  2023  agosto     8   23       35
1419  2023  agosto     8   24       21
1420  2023  agosto     8   25      100
1421  2023  agosto     8   28       66
1422  2023  agosto     8   29       99
1423  2023  agosto     8   30      137
1424  2023  agosto     8   31       19 : 84.56521739130434

AttributeError: 'numpy.float64' object has no attribute 'plot'