In [1]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/CidadesPorProduto.csv", sep=";")
dataset.head()

  Cidade[Cidade]  [Quantidade_Distinta_de_Pedidos]
0   Porto Alegre                             51491
1      São Paulo                             16632
2    Passo Fundo                              8312
3  Caxias do Sul                              6664
4         Canoas                              4961

In [14]:
dataset.shape

(214, 2)

In [15]:
dataset.columns = ["Cidade" , "Pedidos"] 
dataset.head()

          Cidade  Pedidos
0   Porto Alegre    51491
1      São Paulo    16654
2    Passo Fundo     8312
3  Caxias do Sul     6664
4         Canoas     4961

In [16]:
dataset.describe

<bound method NDFrame.describe of                Cidade  Pedidos
0        Porto Alegre    51491
1           São Paulo    16654
2         Passo Fundo     8312
3       Caxias do Sul     6664
4              Canoas     4961
..                ...      ...
209  Pontal do Paraná        1
210        Pouso Novo        1
211           Taubaté        1
212    Três Palmeiras        1
213       Três Passos        1

[214 rows x 2 columns]>

In [17]:
zinfoods = dataset.groupby(['Cidade']).size()
zinfoods

Cidade
Almirante Tamandaré    1
Alvorada               1
Aratiba                1
Araucária              1
Arroio do Meio         1
                      ..
Xangri-lá              1
Xanxerê                1
Xaxim                  1
Água Santa             1
Águas de Chapecó       1
Length: 214, dtype: int64

In [18]:
coluna_nome = dataset['Cidade']

print(coluna_nome)

0          Porto Alegre
1             São Paulo
2           Passo Fundo
3         Caxias do Sul
4                Canoas
             ...
209    Pontal do Paraná
210          Pouso Novo
211             Taubaté
212      Três Palmeiras
213         Três Passos
Name: Cidade, Length: 214, dtype: object