In [19]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/CidadesMKT.csv", sep = ";")
dataset.head()

,Cidades[Cidade],LocalDateTable_ba934b29-0be9-45fc-a5b6-a2a0bace3d1b[Ano],[MinUF]
0,Alvorada,2023,RS
1,Aratiba,2023,RS
2,Arroio do Meio,2023,RS
3,Arroio dos Ratos,2023,RS
4,Arujá,2023,SP

In [13]:
dataset.shape

(5308, 3)

In [20]:
dataset.columns = ["Cidades", "Ano", "UF"]
dataset.head()

            Cidades   Ano  UF
0          Alvorada  2023  RS
1           Aratiba  2023  RS
2    Arroio do Meio  2023  RS
3  Arroio dos Ratos  2023  RS
4             Arujá  2023  SP

In [21]:
#Seleciona as linhas de acordo com o estado
estados = ['RS']
linhas_selecionadas = dataset.loc[dataset['UF'].isin(estados)]
print(linhas_selecionadas)

              Cidades   Ano  UF
0            Alvorada  2023  RS
1             Aratiba  2023  RS
2      Arroio do Meio  2023  RS
3    Arroio dos Ratos  2023  RS
6    Balneario Pinhal  2023  RS
..                ...   ...  ..
107       Veranópolis  2023  RS
108          Viadutos  2023  RS
109            Viamão  2023  RS
110        Vila Maria  2023  RS
111         Xangri-lá  2023  RS

[68 rows x 3 columns]

In [25]:
#Seleciona as linhas de acordo com os anos
linhas_selecionadas = dataset.loc[(dataset['UF'] == 'RS')]
print(linhas_selecionadas)

              Cidades   Ano  UF
0            Alvorada  2023  RS
1             Aratiba  2023  RS
2      Arroio do Meio  2023  RS
3    Arroio dos Ratos  2023  RS
6    Balneario Pinhal  2023  RS
..                ...   ...  ..
107       Veranópolis  2023  RS
108          Viadutos  2023  RS
109            Viamão  2023  RS
110        Vila Maria  2023  RS
111         Xangri-lá  2023  RS

[68 rows x 3 columns]

In [26]:
#Seleciona as linhas de acordo com o estado
estados = ['SP']
linhas_selecionadas = dataset.loc[dataset['UF'].isin(estados)]
print(linhas_selecionadas)

                   Cidades   Ano  UF
4                    Arujá  2023  SP
8                  Barueri  2023  SP
12                Cabreúva  2023  SP
14                 Cajamar  2023  SP
17                Campinas  2023  SP
21             Carapicuíba  2023  SP
33                 Diadema  2023  SP
36          Embu das Artes  2023  SP
37              Embu-Guaçu  2023  SP
53               Guarulhos  2023  SP
55              Indaiatuba  2023  SP
80                 Piedade  2023  SP
87                   Salto  2023  SP
89             Santo André  2023  SP
90   São Bernardo do Campo  2023  SP
91      São Caetano do Sul  2023  SP
93     São José dos Campos  2023  SP
96               São Paulo  2023  SP
98             São Vicente  2023  SP
101               Sorocaba  2023  SP

In [27]:
linhas_selecionadas = dataset.loc[(dataset['UF'] == 'SP')]
print(linhas_selecionadas)

                   Cidades   Ano  UF
4                    Arujá  2023  SP
8                  Barueri  2023  SP
12                Cabreúva  2023  SP
14                 Cajamar  2023  SP
17                Campinas  2023  SP
21             Carapicuíba  2023  SP
33                 Diadema  2023  SP
36          Embu das Artes  2023  SP
37              Embu-Guaçu  2023  SP
53               Guarulhos  2023  SP
55              Indaiatuba  2023  SP
80                 Piedade  2023  SP
87                   Salto  2023  SP
89             Santo André  2023  SP
90   São Bernardo do Campo  2023  SP
91      São Caetano do Sul  2023  SP
93     São José dos Campos  2023  SP
96               São Paulo  2023  SP
98             São Vicente  2023  SP
101               Sorocaba  2023  SP

In [28]:
estados = ['SC']
linhas_selecionadas = dataset.loc[dataset['UF'].isin(estados)]
print(linhas_selecionadas)

                       Cidades   Ano  UF
5           Balneário Camboriú  2023  SC
10                     Biguaçu  2023  SC
11                     Brusque  2023  SC
26                     Chapecó  2023  SC
29                   Concórdia  2023  SC
30             Coronel Freitas  2023  SC
44               Florianópolis  2023  SC
46                      Gaspar  2023  SC
50                   Guabiruba  2023  SC
56                      Itajaí  2023  SC
57                     Itapema  2023  SC
60                     Joaçaba  2023  SC
73                 Nova Trento  2023  SC
76                     Palhoça  2023  SC
88   Santo Amaro da Imperatriz  2023  SC
92                    São José  2023  SC
112                    Xanxerê  2023  SC
113                      Xaxim  2023  SC

In [29]:
estados = ['PR']
linhas_selecionadas = dataset.loc[dataset['UF'].isin(estados)]
print(linhas_selecionadas)

                   Cidades   Ano  UF
16   Campina Grande do Sul  2023  PR
28                 Colombo  2023  PR
32                Curitiba  2023  PR
81                 Pinhais  2023  PR
82                Planalto  2023  PR
83        Pontal do Paraná  2023  PR
94    São José dos Pinhais  2023  PR
102               Tapejara  2023  PR