In [19]:
import pandas as pd 
import seaborn as srn 
import statistics as sts 
import numpy as np 

dataset = pd.read_csv("C:/Users/Rafael.M  S.I T.I/CiencasDeDados/ZINFOODS/DADOS/CidadesMKT.csv", sep = ";")
dataset.head()

,Cidades[Cidade],LocalDateTable_ba934b29-0be9-45fc-a5b6-a2a0bace3d1b[Ano],[MinUF]
0,Alvorada,2023,RS
1,Aratiba,2023,RS
2,Arroio do Meio,2023,RS
3,Arroio dos Ratos,2023,RS
4,Arujá,2023,SP

In [13]:
dataset.shape

(5308, 3)

In [20]:
dataset.columns = ["Cidades", "Ano", "UF"]
dataset.head()

            Cidades   Ano  UF
0          Alvorada  2023  RS
1           Aratiba  2023  RS
2    Arroio do Meio  2023  RS
3  Arroio dos Ratos  2023  RS
4             Arujá  2023  SP

In [21]:
#Seleciona as linhas de acordo com o estado
estados = ['RS']
linhas_selecionadas = dataset.loc[dataset['UF'].isin(estados)]
print(linhas_selecionadas)

              Cidades   Ano  UF
0            Alvorada  2023  RS
1             Aratiba  2023  RS
2      Arroio do Meio  2023  RS
3    Arroio dos Ratos  2023  RS
6    Balneario Pinhal  2023  RS
..                ...   ...  ..
107       Veranópolis  2023  RS
108          Viadutos  2023  RS
109            Viamão  2023  RS
110        Vila Maria  2023  RS
111         Xangri-lá  2023  RS

[68 rows x 3 columns]

In [25]:
#Seleciona as linhas de acordo com os anos
linhas_selecionadas = dataset.loc[(dataset['UF'] == 'RS')]
print(linhas_selecionadas)

              Cidades   Ano  UF
0            Alvorada  2023  RS
1             Aratiba  2023  RS
2      Arroio do Meio  2023  RS
3    Arroio dos Ratos  2023  RS
6    Balneario Pinhal  2023  RS
..                ...   ...  ..
107       Veranópolis  2023  RS
108          Viadutos  2023  RS
109            Viamão  2023  RS
110        Vila Maria  2023  RS
111         Xangri-lá  2023  RS

[68 rows x 3 columns]